<%- include('partials/header', { title: 'Events' }) %>

    <section class="bg-beige-50 py-8 px-4">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold text-green-900 mb-4">Upcoming Events at GreenBite</h2>
            <p class="text-green-800 text-lg">From coffee brewing workshops to chocolate making classes, and cozy book
                pairings, there's always something brewing at GreenBite.</p><br />
        </div>

        <div class="grid md:grid-cols-2 gap-8">

            <%- include('partials/footer') %>