<%- include('partials/header', { title: 'Locations' }) %>

    <section class="text-center mb-12">
        <h2 class="text-3xl font-bold text-green-900 mb-4">Visit Our Cafes</h2>
        <p class="text-green-800 text-lg">GreenBite is where great coffee meets cozy vibes. Find your nearest spot
            below!</p><br />
    </section>

    <main>
        <div class="grid md:grid-cols-2 gap-8">


            <%- include('partials/footer') %>